{% extends "template.html.twig" %}
{% block title%}Nouveau article{% endblock %}
{% block content %}
    <h1>Nouveau article</h1>
    {# to test update : update?articleId={{ idArticle }}#}
    {# to test add : #}
    <form action="/article/add" method="post">
        <label for="title">Titre de l'article</label><br>
        <input type="text" id="title" name="article[title]" value="{{ article.title }}"><br>
        <label for="content">Contenu</label><br>
        <textarea id="content" name="article[content]" rows="10" cols="50">{{ article.content }}</textarea><br>
        <input type="submit" value="Envoyer"><br>
    </form>
{% endblock content %}
