# On suit les liens symboliques
Options +FollowSymlinks
# Activation du mot rewrite d'Apache
RewriteEngine On
# Réecriture de index.html vers index.php
RewriteRule ^index\.html$ /index.php
RewriteRule ^/([a-z]+)\.html$ /index.php?page=$1 [L]



