<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% include '_header.html' %}
        <main>
            {% block content %}{% endblock %}
            {% include '_footer.html' %}
        </main>
    </body>
</html>
