{% extends "back/template.html.twig" %}
{% block title%}{{ titlePage }} - Framework from scratch{% endblock %}
{% block content %}
    <h1>{{ titlePage }}</h1>
    <p>Bienvenue su le back office</p>
    <p>{{ test }}</p>
{% endblock content%}
